@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

body {
  font-family: Manrope, Poppins, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background: #3e5c76;
  border-radius: 8rem;
}

::-webkit-scrollbar {
  background: #7a92cb;
  width: 0.4rem;
}

.test-border {
  border: 2px solid red;
}

.top-ddd-border {
  border-top: 1px solid #ddd;
}
